<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smart.application.appoint.dao.InformationTypeMapper">
    <select id="selectInformationTypeAll" resultType="InformationType">
        SELECT
            id,
            name
        FROM
            information_type
    </select>
</mapper>